@import './../../assets/sass/imports';

.side-drawer__header {
	background: map_get($colors, primary);
	color: #fff;
	height: 150;
	padding-bottom: 10;
	padding-left: 15;
}

.side-drawer__body {
	color: #fff;

	Label {
		padding-bottom: 15;
		padding-left: 15;
		padding-top: 15;

		&.active-link {
			background: lighten(map_get($colors, secondary), 10%);
			color: map_get($colors, accent);
		}
	}
}
