<FlexboxLayout
	alignItems="flex-end"
	class="side-drawer__header">
	<Label text="NativeScript SeriesGuide"></Label>
</FlexboxLayout>

<StackLayout
	class="side-drawer__body">
	<ListView [items]="pages" separatorColor="transparent">
		<ng-template let-page="item" let-int="index">
			<GridLayout rows="auto" columns="50,*" class="active-link" alignItems="center">
				<Label
					col="0"
					row="0"
					[nsRouterLink]="page.link"
					[nsRouterLinkActiveOptions]="{exact: true}"
					nsRouterLinkActive="active-link"
					[text]="page.icon"
					class="far fas fa-brands page-icon"></Label>
				<Label
					col="1"
					row="0"
					[nsRouterLink]="page.link"
					[nsRouterLinkActiveOptions]="{exact: true}"
					nsRouterLinkActive="active-link"
					class="page-text"
					[text]="page.text"></Label>
			</GridLayout>
		</ng-template>
	</ListView>
</StackLayout>
